@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Raleway:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    height: 3524px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 960px;
    height: 33px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.shortcuts {
    display: flex;
}

nav ul li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #832FDA;
    list-style: none;
    display: flex;
    margin-right: 30px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
    border-bottom: #6D0AD3 solid;
    border-bottom-width: 3px;
    border-radius: 3px;
}

nav ul li:hover {
    display: flex;
    margin-right: 20px;
    color: #00CF95;
    border-bottom: #00CF95 solid;
    border-bottom-width: 3px;
    border-radius: 3px;
    border-bottom-style:dotted;
    border-spacing: 30px;
}

.section1{
    width: 960px;
    display: flex;
    align-items: center;
    margin: 60px auto;
}

.section1-1 {
    width: 480px;
}

.saludo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #262626;
}

.nombre {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
}

.profesion {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;  
    color: #00CF95;
    margin-bottom: 10px;
}

.texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #262626;
    width: 351.29px;
    border-left: solid #80E7CA 4.26px;
    padding-left: 10px;
    margin: 20px 0;
}

.section1-1-2 {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    align-items: center;
}

.descargar {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    color: #EDE2FA;
    background-color: #6D0AD3;
    padding: 10px 40px;
    border: solid;
}

.enlaces1 {
    margin-right: 100px;
    width: 170px;
    display: flex;
    justify-content: space-around;
}

.section1-2 {
    height: 100%;
    display: flex;
}

.section1-2-1 {
    background-color: #D1FFA2;
    border-radius: 50%;
    width: 330px;
    height: 330px;
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 300px;
    height: 300px;
}

.section1-2-2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}

.section2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.down {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 24px;
    color: #00CF95;
}

.section3 {
    border: solid green;
    width: 960px;
    display: block;
    justify-content: space-between;
}

.title-s3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0098EF;
    margin: 30px 0;
}

.img-ptf-1, .img-ptf-2 {
    margin-bottom: 10px;
    border: solid red;
    display: flex;
    justify-content: space-between;
}

.card-web-app {
    border: solid;
    background: rgba(109, 10, 211, 0.5);
    border-radius: 8px;
    width: 178px;
    height: 174px;  
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.web-app {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #E0E0E0;
}

.texto-web-app {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: white;
}

.plat1, .plat2 {
    display: flex;
}

.plat-web1, .plat-web2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    color: #580AAF;
    background: #D1FFA2;
    border-radius: 10px;
    padding: 1px 10px;
    margin: 2px;
}

/*.ab {
    position: absolute;
    z-index: 1;
    opacity: 0.3;
}

.cd {
    position: absolute;
    z-index: -1;
}*/

.section4 {
    border: solid;
    height: 960px;
}

.title-s4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #0098EF;
    margin: 30px 0;
}

.card-serv {
    background-color: #00CF95;
    border: 5px solid #D1FFA2;
    width: 308px;
    height: 218px;
}

.card-serv:hover {
    border: 5px solid #5A0CB0;
    cursor: pointer;
}

.img-serv {
    margin: 20px;
}

.type-serv {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #5A0CB0;
    background-color: #D1FFA2;
    border-radius: 8px 0px 0px 8px;
    padding: 7px 20px;
    margin: 50px 0 0 100px;
    text-align: right;
}

.type-serv:hover{
    cursor: pointer;
    color: white;
    background-color: #5A0CB0;
}